@{
//ViewData["Title"] = "Home Page";
}

@model List<Bowler>

<h1 style="text-align: center">Bowlers</h1>


<table class="table table-sm table-bordered table-hover">
    <thead>
        <tr>
            <th>FIRST NAME</th>
            <th>Middle Initial</th>
            <th>Last Name</th>
            <th>Address</th>
            <th>City</th>
            <th>State</th>
            <th>Zip</th>
            <th>Phone Number</th>
            <th>ViewBag</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody class="table-hover">

        @foreach (var b in Model)
        {
        <tr>
            <td>@b.BowlerFirstName</td>


            <td>@b.BowlerMiddleInit</td>


            <td>@b.BowlerLastName</td>


            <td>@b.BowlerAddress</td>


            <td>@b.BowlerCity</td>


            <td>@b.BowlerState</td>


            <td>@b.BowlerZip</td>


            <td>@b.BowlerPhoneNumber</td>

            <td>@foreach (Team t in ViewBag.TeamList)
                {


                   @if(t.TeamID == b.TeamID)
                   {
                       @t.TeamName;
                   }
                    
                }
            </td>

            <td><a asp-controller="Home" asp-action="Edit" asp-route-bowlerid="@b.BowlerID">Edit</a></td>
            <td><a asp-controller="Home" asp-action="Delete" asp-route-bowlerid="@b.BowlerID">Delete</a></td>
        </tr>
        }
        @*@foreach(var t in Model.Teams)
            {
            <tr>
                <td>@t.TeamName</td>
            </tr>

            }*@
    </tbody>

</table>

<div>
    <a asp-controller="Home" asp-action="AddBowler">Add a Bowler</a>
</div>